<footer>
    <div class="section-footer-top">
        <div class="container">
            <div class="item-list-footer d-none d-lg-block">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="item-menu-footer">
                            <div class="logo-footer">
                                <a aria-current="page" href="https://esimtravels.vn/" class="router-link-active router-link-exact-active" title="logo">
                                    <!--<img src="./assets/img/Logo-esim-dulich-footer-04-04.svg" alt="Logo">-->
                                    <img src="./assets/img/Esim-08.png" alt="Logo eSimtravels" data-v-65f471ce="">
                                </a>
                            </div>
                            <div class="item-menu-footer">
                                <p class="title-footer">CÔNG TY TNHH ĐẦU TƯ VÀ PHÁT TRIỂN 3M-INTEL</p>
                                <ul>
                                    <li class="infoct">Địa chỉ :
                                        <span>
                                            Số nhà V1-A02, Lô đất TTDV 01, Khu đô thị mới An Hưng, Phường Dương Nội, Thành phố Hà Nội, Việt Nam                                        </span>
                                    </li>
                                    <li class="infoct">Mã số thuế : <span>0110023507</span></li>
                                    <li class="infoct">số điện thoại : <span>0356628532</span></li>
                                    <li class="infoct">Email : <span>congty3mintel@gmail.com </span></li>
                                    <li class="infoct">Ngày cấp : <span>08/06/2022</span></li>
                                    <li class="infoct">Nơi cấp : <span>Sở kế hoạch và đầu tư Thành phố Hà Nội</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="item-menu-footer">
                            <div class="title-footer">Top quốc gia phổ biến</div>
                            <ul>
                                <li>
                                    <a href="/package-country/10" title="Hồng Kông (Hong Kong)">
                                        Hồng Kông (Hong Kong)                                        </a>
                                </li>
                                <li>
                                    <a href="/package-country/5" title="Hàn Quốc (Korea)">
                                        Hàn Quốc (Korea)                                        </a>
                                </li>
                                <li>
                                    <a href="/package-country/4" title="Singapore">
                                        Singapore                                        </a>
                                </li>
                                <li>
                                    <a href="/package-country/3" title="Mỹ (USA) US">
                                        Mỹ (USA) US                                        </a>
                                </li>
                                <li>
                                    <a href="/package-country/2" title="Trung Quốc (China)">
                                        Trung Quốc (China)                                        </a>
                                </li>
                                <li>
                                    <a href="/package-country/1" title="Thái Lan (Thailand)">
                                        Thái Lan (Thailand)                                        </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="item-menu-footer">
                            <div class="title-footer">Về chúng tôi</div>
                            <ul>
                                <li><a href="/gioi-thieu" class="" title="Giới thiệu ESIMTRAVELS"> Giới thiệu về ESIMTRAVELS </a></li>
                                <li><a href="/lien-he" class="" title="Liên hệ"> Liên hệ với chúng tôi </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="item-menu-footer">
                            <div class="title-footer">Hỗ trợ khách hàng</div>
                            <ul>
                                <li><a href="/chinh-sach-va-dieu-khoan/chinh-sach-bao-mat.1" class=""> Chính sách bảo mật </a></li>
                                <li><a href="/chinh-sach-va-dieu-khoan/dieu-khoan-va-dieu-kien" class=""> Điều khoản và điều kiện</a></li>
                                <li><a href="/chinh-sach-va-dieu-khoan/chinh-sach-kiem-hang" class=""> Chính sách kiểm hàng</a></li>
                                <li><a href="/chinh-sach-va-dieu-khoan/chinh-sach-doi-tra-hoan-tien" class=""> Chính sách đổi trả, hoàn tiền</a></li>
                                <li><a href="/chinh-sach-va-dieu-khoan/chinh-sach-thanh-toan" class=""> Chính sách thanh toán</a></li>
                                <li><a href="/chinh-sach-va-dieu-khoan/chinh-sach-tiep-nhan-va-giai-quyet-khieu-nai" class=""> Chính sách tiếp nhận và giải quyết khiếu nại</a></li>
                                <li><a href="/chinh-sach-va-dieu-khoan/chinh-sach-bao-hanh" class=""> Chính sách bảo hành</a></li>
                                <li><a href="/chinh-sach-va-dieu-khoan/thong-tin-ve-van-chuyen-giao-nhan" class=""> Thông tin về vận chuyển, giao nhận</a></li>
                                <li><a href="/news/huong-dan-thanh-toan-vnpay-tren-web" class=""> HƯỚNG DẪN THANH TOÁN VNPAY TRÊN WEB</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-list-footer d-block d-lg-none">
                <div class="item-menu-footer">
                    <div class="logo-footer">
                        <a aria-current="page" href="https://esimtravels.vn/" class="router-link-active router-link-exact-active" title="logo">
                            <img src="./assets/img/Logo-esim-dulich-footer-04-04.svg" alt="Logo">
                        </a>
                    </div>
                    <p> ESIMTRAVELS là một trong những cửa hàng eSIM tốt nhất trên thế giới. Xu hướng mới cùng công nghệ mới cung cấp giải pháp gói dữ liệu cho 200+ quốc gia và khu vực cho khách du lịch toàn cầu, ESIMTRAVELS không chỉ là trải nghiệm mà còn là niềm cảm ứng khám phá văn hóa du lịch trong mỗi chuyến đi hạnh phúc </p>
                </div>
                <div class="accordion">
                    <div class="accordion-item item-menu-footer">
                        <span class="accordion-button collapsed title-footer" data-bs-toggle="collapse" data-bs-target="#footer_01" aria-expanded="true"> Quốc gia phổ biến </span>
                        <div id="footer_01" class="accordion-collapse collapse">
                            <ul>
                                <li>
                                    <a href="/package-country/10" title="Hồng Kông (Hong Kong)">
                                        Hồng Kông (Hong Kong)                                        </a>
                                </li>
                                <li>
                                    <a href="/package-country/5" title="Hàn Quốc (Korea)">
                                        Hàn Quốc (Korea)                                        </a>
                                </li>
                                <li>
                                    <a href="/package-country/4" title="Singapore">
                                        Singapore                                        </a>
                                </li>
                                <li>
                                    <a href="/package-country/3" title="Mỹ (USA) US">
                                        Mỹ (USA) US                                        </a>
                                </li>
                                <li>
                                    <a href="/package-country/2" title="Trung Quốc (China)">
                                        Trung Quốc (China)                                        </a>
                                </li>
                                <li>
                                    <a href="/package-country/1" title="Thái Lan (Thailand)">
                                        Thái Lan (Thailand)                                        </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="accordion-item item-menu-footer">
                        <span class="accordion-button collapsed title-footer" data-bs-toggle="collapse" data-bs-target="#footer_02" aria-expanded="false"> Về chúng tôi </span>
                        <div id="footer_02" class="accordion-collapse collapse">
                            <ul>
                                <li><a href="/gioi-thieu" class="" title="Giới thiệu ESIMTRAVELS"> Giới thiệu về ESIMTRAVELS.VN </a></li>
                                <li><a href="/lien-he" class="" title="Liên hệ"> Liên hệ với chúng tôi </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="accordion-item item-menu-footer">
                        <span class="accordion-button collapsed title-footer" data-bs-toggle="collapse" data-bs-target="#footer_03" aria-expanded="false"> Thông tin khác </span>
                        <div id="footer_03" class="accordion-collapse collapse">
                            <ul>
                                <li><a href="/hoi-dap" class=""> Câu hỏi thường ngặp </a></li>
                                <li><a href="/tin-tuc" class=""> Tin tức </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-footer-center d-none d-lg-block">
                <div class="row">
                    <div class="col-lg-8 col-12">
                        <ul class="list-menu-footer">
                            <li><a href="/gioi-thieu" class="" title="Giới thiệu ESIMTRAVELS"> @2024 ESIMTRAVELS.VN </a></li>
                            <li><a href="/chinh-sach-va-dieu-khoan/chinh-sach-bao-mat" class=""> Chính sách bảo mật </a></li>
                            <li><a href="/chinh-sach-va-dieu-khoan/dieu-khoan-va-dieu-kien" class=""> Điều khoản &amp; điều kiện </a></li>
                            <li>
                                <a title="" class="language-item d-none d-lg-block" translate="no" data-v-288e95d4="">
                                    <i class="fa-regular fa-globe" data-v-288e95d4=""></i> vi
                                </a>
                                <a title="" class="language-item language-item-mb d-block d-lg-none" translate="no" data-v-288e95d4=""> Ngôn ngữ vi
                                    <i class="fa-solid fa-caret-down" data-v-288e95d4=""></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-12">
                        <div class="fanpage">
                            <span> Theo dõi: </span>
                            <ul>
                                <li><a href="#" title="fakebook" target="_blank"><img src="./assets/img/facebook.png" alt="facebook"></a></li>
                                <li><a href="#" title="linkedin" target="_blank"><img src="./assets/img/youtube.png" alt="linkedin"></a></li>
                                <li><a href="#" title="linkedin" target="_blank"><img src="./assets/img/tiktok.png" alt="linkedin"></a></li>
                                <li><a href="#" title="instagram" target="_blank"><img src="./assets/img/instagram.png" alt="instagram"></a></li>
                                <li><a href="#" rel="noopener noreferrer" target="_blank" title="twitter"><img src="./assets/img/twitter.png" alt="twitter"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-footer-center item-footer-center-mb d-block d-lg-none">
                <div class="fanpage">
                    <span> Theo dõi: </span>
                    <ul>
                        <li><a href="#" title="fakebook" target="_blank"><img src="./assets/img/facebook.png" alt="facebook"></a></li>
                        <li><a href="#" title="linkedin" target="_blank"><img src="./assets/img/youtube.png" alt="linkedin"></a></li>
                        <li><a href="#" title="linkedin" target="_blank"><img src="./assets/img/tiktok.png" alt="linkedin"></a></li>
                        <li><a href="#" title="instagram" target="_blank"><img src="./assets/img/instagram.png" alt="instagram"></a></li>
                        <li><a href="#" rel="noopener noreferrer" target="_blank" title="twitter"><img src="./assets/img/twitter.png" alt="twitter"></a></li>
                    </ul>
                </div>
                <ul class="list-menu-footer">
                    <li><a href="/gioi-thieu" class="" title="Giới thiệu ESIMTRAVELS"> @2024 ESIMTRAVELS.VN </a></li>
                    <li><a href="/chinh-sach-va-dieu-khoan/chinh-sach-bao-mat" class="footer-logo"> CHÍNH SÁCH BẢO MẬT </a></li>
                    <li><a href="/chinh-sach-va-dieu-khoan/dieu-khoan-va-dieu-kien" class="footer-logo"> ĐIỀU KHOẢN &amp; ĐIỀU KIỆN </a></li>
                    <li>
                        <a title="" class="language-item d-none d-lg-block" translate="no" data-v-288e95d4="">
                            <i class="fa-regular fa-globe" data-v-288e95d4=""></i> vi
                        </a>
                        <a title="" class="language-item language-item-mb d-block d-lg-none" translate="no" data-v-288e95d4=""> Ngôn ngữ vi
                            <i class="fa-solid fa-caret-down" data-v-288e95d4=""></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section-footer-bottom">
        <div class="container">
            <div class="item-footer-bottom">
                <ul>
                    <li><a title=""><img src="./assets/img/fix_payment.png" alt="" style="height:34px;width:auto;"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="item-toobar d-block d-xl-none">
        <ul>
            <li>
                <a aria-current="page" href="https://esimtravels.vn/" class="router-link-active router-link-exact-active">
                    <img src="./assets/img/store.svg" alt=""> Cửa hàng
                </a>
            </li>
            <li><a href="/my-esim" class=""><img src="./assets/img/chip.svg" alt=""> eSIM của tôi </a></li>
            <li><a href="/my-profile" class=""><img src="./assets/img/user.svg" alt=""> Thông tin tài khoản </a></li>
        </ul>
    </div>
</footer>