<header>
    <div class="header-top d-none d-lg-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-1 col-md-3">
                    <div class="logo">
                        <a aria-current="page" href="https://esimtravels.vn/" class="router-link-active router-link-exact-active">
                            <img src="./assets/img/Esim-08.png" alt="Logo eSimtravels" class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-3">
                    <div class="menu-container">
                        <div class="back-drop"></div>
                        <nav class="menu-section" nh-menu="sidebar" menu-type="main">
                            <div class="menu-info">
                                <div class="content-menu">
                                    <ul>
                                        <li class="megamenu-has has-child">
                                            <a class="" title=""> Điểm đến </a><span class="grower" nh-toggle="menu_01"></span>
                                            <ul nh-toggle-element="menu_01" class="entry-menu megamenu">
                                                <div class="container-menu">
                                                    <div class="row-menu">
                                                        <div class="has-child">
                                                            <a class="menu-title"> Bán chạy nhất </a>
                                                            <span class="grower" nh-toggle="ylu8izh9f4-0-0"></span>
                                                            <ul class="sub-menu" nh-toggle-element="ylu8izh9f4-0-0">
                                                                <li>
                                                                    <a href="/package/country/hong-kong-hong-kong" class="menu-link" title="Hồng Kông (Hong Kong)">
                                                                        Hồng Kông (Hong Kong)                                                                                </a>
                                                                </li>
                                                                <li>
                                                                    <a href="/package/country/han-quoc-korea" class="menu-link" title="Hàn Quốc (Korea)">
                                                                        Hàn Quốc (Korea)                                                                                </a>
                                                                </li>
                                                                <li>
                                                                    <a href="/package/country/singapore" class="menu-link" title="Singapore">
                                                                        Singapore                                                                                </a>
                                                                </li>
                                                                <li>
                                                                    <a href="/package/country/my-usa-us" class="menu-link" title="Mỹ (USA) US">
                                                                        Mỹ (USA) US                                                                                </a>
                                                                </li>
                                                                <li>
                                                                    <a href="/package/country/trung-quoc-china" class="menu-link" title="Trung Quốc (China)">
                                                                        Trung Quốc (China)                                                                                </a>
                                                                </li>
                                                                <li>
                                                                    <a href="/package/country/thai-lan-thailand" class="menu-link" title="Thái Lan (Thailand)">
                                                                        Thái Lan (Thailand)                                                                                </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="row-menu">
                                                        <div class="has-child">
                                                            <a class="menu-title"> eSIM khu vực &amp; eSIM toàn cầu </a><span class="grower" nh-toggle="ylu8izh9f4-0-0"></span>
                                                            <ul class="sub-menu" nh-toggle-element="ylu8izh9f4-0-0">
                                                                <li>
                                                                    <a href="/package/region/toan-cau-146-nuoc" class="menu-link" title="Toàn Cầu 146 nước">
                                                                        Toàn Cầu 146 nước                                                                                </a>
                                                                </li>
                                                                <li>
                                                                    <a href="/package/region/toan-cau-khong-bao-gom-trung-quoc-dai-luc" class="menu-link" title="Toàn Cầu (không bao gồm Trung Quốc Đại Lục)">
                                                                        Toàn Cầu (không bao gồm Trung Quốc Đại Lục)                                                                                </a>
                                                                </li>
                                                                <li>
                                                                    <a href="/package/region/brazil-argentina-chile-peru-paraguay-uruguay-ecuador-colombia" class="menu-link" title="Brazil, Argentina, Chile, Peru, Paraguay, Uruguay, Ecuador, Colombia">
                                                                        Brazil, Argentina, Chile, Peru, Paraguay, Uruguay, Ecuador, Colombia                                                                                </a>
                                                                </li>
                                                                <li>
                                                                    <a href="/package/region/kazakhstan-uzbekistan-kyrgyzstan-tajikistan" class="menu-link" title="Kazakhstan, Uzbekistan, Kyrgyzstan, Tajikistan">
                                                                        Kazakhstan, Uzbekistan, Kyrgyzstan, Tajikistan                                                                                </a>
                                                                </li>
                                                                <li>
                                                                    <a href="/package/region/america-and-canada-including-hawaii" class="menu-link" title="America and Canada (including Hawaii)">
                                                                        America and Canada (including Hawaii)                                                                                </a>
                                                                </li>
                                                                <li>
                                                                    <a href="/package/region/america-and-canada-and-mexico-including-hawaii" class="menu-link" title="America and Canada and Mexico (including Hawaii)">
                                                                        America and Canada and Mexico (including Hawaii)                                                                                </a>
                                                                </li>
                                                                <li>
                                                                    <a href="/package/region/usa-usa-hawaii-puerto-rico-us-virgin-islands-guam" class="menu-link" title="USA (USA, Hawaii, Puerto Rico, US Virgin Islands, Guam)">
                                                                        USA (USA, Hawaii, Puerto Rico, US Virgin Islands, Guam)                                                                                </a>
                                                                </li>
                                                                <li>
                                                                    <a href="/package/region/chau-au-41-nuoc" class="menu-link" title="Châu Âu 41 nước ">
                                                                        Châu Âu 41 nước                                                                                 </a>
                                                                </li>
                                                                <li>
                                                                    <a href="/package/region/saudi-arabia-oman-kuwait-qatar" class="menu-link" title="Saudi Arabia, Oman, Kuwait, Qatar">
                                                                        Saudi Arabia, Oman, Kuwait, Qatar                                                                                </a>
                                                                </li>
                                                                <li>
                                                                    <a href="/package/region/singapore-malaysia-thailand" class="menu-link" title="Singapore, Malaysia, Thailand">
                                                                        Singapore, Malaysia, Thailand                                                                                </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="row-menu">
                                                        <div class="has-child">
                                                            <a class="menu-title"> Tất cả các điểm đến </a>
                                                            <ul class="sub-menu" nh-toggle-element="ylu8izh9f4-0-0">
                                                                <li>
                                                                    <a href="/package/country/viet-nam-vietnam" class="menu-link" title="Việt Nam (Vietnam)">
                                                                        Việt Nam (Vietnam)                                                                                </a>
                                                                </li>
                                                                <li>
                                                                    <a href="/package/country/uae-united-arab-emirates" class="menu-link" title="UAE (United Arab Emirates)">
                                                                        UAE (United Arab Emirates)                                                                                </a>
                                                                </li>
                                                                <li>
                                                                    <a href="/package/country/colombia" class="menu-link" title="Colombia">
                                                                        Colombia                                                                                </a>
                                                                </li>
                                                                <li>
                                                                    <a href="/package/country/ecuador" class="menu-link" title="Ecuador">
                                                                        Ecuador                                                                                </a>
                                                                </li>
                                                                <li>
                                                                    <a href="/package/country/uruguay" class="menu-link" title="Uruguay">
                                                                        Uruguay                                                                                </a>
                                                                </li>
                                                                <li>
                                                                    <a href="/package/country/paraguay" class="menu-link" title="Paraguay">
                                                                        Paraguay                                                                                </a>
                                                                </li>
                                                                <li>
                                                                    <a href="/package/country/peru" class="menu-link" title="Peru">
                                                                        Peru                                                                                </a>
                                                                </li>
                                                                <li>
                                                                    <a href="/package/country/chile" class="menu-link" title="Chile">
                                                                        Chile                                                                                </a>
                                                                </li>
                                                                <li>
                                                                    <a href="/package/country/argentina" class="menu-link" title="Argentina">
                                                                        Argentina                                                                                </a>
                                                                </li>
                                                                <li>
                                                                    <a href="/package/country/brazil" class="menu-link" title="Brazil">
                                                                        Brazil                                                                                </a>
                                                                </li>
                                                                <li>
                                                                    <a href="/package/region/toan-cau-146-nuoc" class="menu-link" title="Toàn Cầu 146 nước">
                                                                        Toàn Cầu 146 nước                                                                                </a>
                                                                </li>
                                                                <li>
                                                                    <a href="/package/region/toan-cau-khong-bao-gom-trung-quoc-dai-luc" class="menu-link" title="Toàn Cầu (không bao gồm Trung Quốc Đại Lục)">
                                                                        Toàn Cầu (không bao gồm Trung Quốc Đại Lục)                                                                                </a>
                                                                </li>
                                                                <li>
                                                                    <a href="/package/region/brazil-argentina-chile-peru-paraguay-uruguay-ecuador-colombia" class="menu-link" title="Brazil, Argentina, Chile, Peru, Paraguay, Uruguay, Ecuador, Colombia">
                                                                        Brazil, Argentina, Chile, Peru, Paraguay, Uruguay, Ecuador, Colombia                                                                                </a>
                                                                </li>
                                                                <li>
                                                                    <a href="/package/region/kazakhstan-uzbekistan-kyrgyzstan-tajikistan" class="menu-link" title="Kazakhstan, Uzbekistan, Kyrgyzstan, Tajikistan">
                                                                        Kazakhstan, Uzbekistan, Kyrgyzstan, Tajikistan                                                                                </a>
                                                                </li>
                                                                <li>
                                                                    <a href="/package/region/america-and-canada-including-hawaii" class="menu-link" title="America and Canada (including Hawaii)">
                                                                        America and Canada (including Hawaii)                                                                                </a>
                                                                </li>
                                                                <li>
                                                                    <a href="/package/region/america-and-canada-and-mexico-including-hawaii" class="menu-link" title="America and Canada and Mexico (including Hawaii)">
                                                                        America and Canada and Mexico (including Hawaii)                                                                                </a>
                                                                </li>
                                                                <li>
                                                                    <a href="/package/region/usa-usa-hawaii-puerto-rico-us-virgin-islands-guam" class="menu-link" title="USA (USA, Hawaii, Puerto Rico, US Virgin Islands, Guam)">
                                                                        USA (USA, Hawaii, Puerto Rico, US Virgin Islands, Guam)                                                                                </a>
                                                                </li>
                                                                <li>
                                                                    <a href="/package/region/chau-au-41-nuoc" class="menu-link" title="Châu Âu 41 nước ">
                                                                        Châu Âu 41 nước                                                                                 </a>
                                                                </li>
                                                                <li>
                                                                    <a href="/package/region/saudi-arabia-oman-kuwait-qatar" class="menu-link" title="Saudi Arabia, Oman, Kuwait, Qatar">
                                                                        Saudi Arabia, Oman, Kuwait, Qatar                                                                                </a>
                                                                </li>
                                                                <li>
                                                                    <a href="/package/region/singapore-malaysia-thailand" class="menu-link" title="Singapore, Malaysia, Thailand">
                                                                        Singapore, Malaysia, Thailand                                                                                </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="link-all-menu">
                                                        <a title="Xem tất cả các điểm đến"> Xem tất cả các điểm đến <i class="fa-regular fa-arrow-right"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </ul>
                                        </li>
                                        <li><a href="/search-device" class="" title="Tra cứu thiết bị"> Tra cứu thiết bị </a></li>
                                        <li><a href="/hoi-dap" class="" title="Câu hỏi thường gặp"> Câu hỏi thường gặp </a></li>
                                        <li class="position-relative has-child">
                                            <a class="" title="Trung tâm trợ giúp"> Trung tâm trợ giúp </a>
                                            <span class="grower" nh-toggle="menu_04"></span>
                                            <ul nh-toggle-element="menu_04" class="entry-menu dropdown">
                                                <li>
                                                    <a href="/gioi-thieu-esim" class="" title="Giới thiệu eSIM">Giới thiệu eSIM</a>
                                                </li>
                                                <li>
                                                    <a href="/qua-trinh-su-dung" class="" title="Quá trình sử dụng">
                                                        Quá trình sử dụng
                                                    </a>
                                                </li>
                                                <li><a href="/thanh-toan-lap-hoa-don-hoan-tien" class="" title="Thanh toán, lập hóa đơn, hoàn tiền">Thanh toán, lập hóa đơn, hoàn tiền</a></li>
                                                <li><a href="/quan-ly-tai-khoan" class="" title="Quản lý tài khoản">Quản lý tài khoản</a></li>
                                                <li><a href="/xu-ly-su-co-esim" class="" title="Xử lý sự cố eSIM">Xử lý sự cố eSIM</a></li>
                                                <li><a href="/goi-du-lieu-esim" class="" title="Gói dữ liệu eSIM">Gói dữ liệu eSIM</a></li>
                                                <!--<li data-v-65f471ce><a href="#" rel="noopener noreferrer" class="menu-link" title="Hướng dẫn Check Usage" data-v-65f471ce> Hướng dẫn Check Usage </a></li>-->
                                            </ul>
                                        </li>
                                        <li class="position-relative has-child">
                                            <a class="" title="Về chúng tôi"> Về chúng tôi </a><span class="grower" nh-toggle="menu_05"></span>
                                            <ul nh-toggle-element="menu_05" class="entry-menu dropdown">
                                                <li><a href="/gioi-thieu" class="menu-link" title="Giới thiệu eSimtravels"> Giới thiệu Esimtravels.vn </a></li>
                                                <li><a href="/tin-tuc" class="menu-link" title="blog"> Blog </a></li>
                                                <li><a href="/lien-he" class="" title="Liên hệ"> Liên hệ </a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-4 col-md-3">
                    <div class="section-user">
                        <ul>
                            <li>
                                <a href="/dang-nhap" class="">
                                    <i class="fa-regular fa-circle-user"></i> Đăng nhập
                                </a>
                            </li>
                            <span> / </span>
                            <li>
                                <a href="/dang-ky" class=""> Đăng ký </a>
                            </li>
                        </ul>
                    </div>
                    <div class="section-lang">
                        <ul>
                            <li>
                                <a title="" class="language-item d-none d-lg-block" translate="no" data-v-288e95d4="">
                                    <i class="fa-regular fa-globe" data-v-288e95d4=""></i> vi
                                </a>
                                <a title="" class="language-item language-item-mb d-block d-lg-none" translate="no" data-v-288e95d4=""> Ngôn ngữ vi
                                    <i class="fa-solid fa-caret-down" data-v-288e95d4=""></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="section-cart">
                        <a href="/gio-hang" class="" title="Giỏ hàng">
                            <i class="fa-regular fa-cart-shopping"></i>
                            <span id="cat_number">0</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-top header-top-mb d-block d-lg-none">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <div class="menu-container">
                        <a id="btn-menu" class="btn-menu-mobile collapsed" data-bs-toggle="collapse" data-bs-target="#menu-main" aria-expanded="true">
                            <i class="fa-solid fa-bars list"></i>
                            <i class="fa-regular fa-xmark close"></i>
                        </a>
                        <nav class="menu-section accordion-collapse collapse" id="menu-main" style="padding-bottom:150px;">
                            <div class="menu-info">
                                <div class="form-search">
                                    <form>
                                        <div class="info-form-search inp-search-container" data-v-38613ae9="">
                                            <div class="form-group mb-0" data-v-38613ae9="">
                                                            <span data-v-38613ae9="">
                                                                <img src="./assets/img/location.svg" class="icon" data-v-38613ae9="">
                                                            </span>
                                                <input type="text" class="form-control" value="" placeholder="Quốc gia bạn đến?" data-v-38613ae9="">
                                                <button type="button" class="btn bg-main" data-v-38613ae9="">
                                                    <i class="fa-light fa-magnifying-glass" data-v-38613ae9=""></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="content-menu">
                                    <ul>
                                        <li class="megamenu-has position-relative has-child">
                                            <div class="pt-3" data-bs-toggle="collapse" data-bs-target="#menu_01" aria-expanded="true">
                                                <a class="" title=""> Điểm đến </a>
                                                <span class="grower collapse"></span>
                                            </div>
                                            <ul id="menu_01" class="entry-menu dropdown">
                                                <li><span class="menu-title-mobile"> Bán chạy nhất </span></li>

                                                <li>
                                                    <a href="/package/country/hong-kong-hong-kong" class="menu-link" title="Hồng Kông (Hong Kong)">
                                                        Hồng Kông (Hong Kong)                                                                </a>
                                                </li>
                                                <li>
                                                    <a href="/package/country/han-quoc-korea" class="menu-link" title="Hàn Quốc (Korea)">
                                                        Hàn Quốc (Korea)                                                                </a>
                                                </li>
                                                <li>
                                                    <a href="/package/country/singapore" class="menu-link" title="Singapore">
                                                        Singapore                                                                </a>
                                                </li>
                                                <li>
                                                    <a href="/package/country/my-usa-us" class="menu-link" title="Mỹ (USA) US">
                                                        Mỹ (USA) US                                                                </a>
                                                </li>
                                                <li>
                                                    <a href="/package/country/trung-quoc-china" class="menu-link" title="Trung Quốc (China)">
                                                        Trung Quốc (China)                                                                </a>
                                                </li>
                                                <li>
                                                    <a href="/package/country/thai-lan-thailand" class="menu-link" title="Thái Lan (Thailand)">
                                                        Thái Lan (Thailand)                                                                </a>
                                                </li>
                                                <li><span class="menu-title-mobile"> eSIM khu vực &amp; eSIM toàn cầu </span></li>
                                                <li>
                                                    <a href="/package/region/toan-cau-146-nuoc" class="menu-link" title="Toàn Cầu 146 nước">
                                                        Toàn Cầu 146 nước                                                                </a>
                                                </li>
                                                <li>
                                                    <a href="/package/region/toan-cau-khong-bao-gom-trung-quoc-dai-luc" class="menu-link" title="Toàn Cầu (không bao gồm Trung Quốc Đại Lục)">
                                                        Toàn Cầu (không bao gồm Trung Quốc Đại Lục)                                                                </a>
                                                </li>
                                                <li>
                                                    <a href="/package/region/brazil-argentina-chile-peru-paraguay-uruguay-ecuador-colombia" class="menu-link" title="Brazil, Argentina, Chile, Peru, Paraguay, Uruguay, Ecuador, Colombia">
                                                        Brazil, Argentina, Chile, Peru, Paraguay, Uruguay, Ecuador, Colombia                                                                </a>
                                                </li>
                                                <li>
                                                    <a href="/package/region/kazakhstan-uzbekistan-kyrgyzstan-tajikistan" class="menu-link" title="Kazakhstan, Uzbekistan, Kyrgyzstan, Tajikistan">
                                                        Kazakhstan, Uzbekistan, Kyrgyzstan, Tajikistan                                                                </a>
                                                </li>
                                                <li>
                                                    <a href="/package/region/america-and-canada-including-hawaii" class="menu-link" title="America and Canada (including Hawaii)">
                                                        America and Canada (including Hawaii)                                                                </a>
                                                </li>
                                                <li>
                                                    <a href="/package/region/america-and-canada-and-mexico-including-hawaii" class="menu-link" title="America and Canada and Mexico (including Hawaii)">
                                                        America and Canada and Mexico (including Hawaii)                                                                </a>
                                                </li>
                                                <li>
                                                    <a href="/package/region/usa-usa-hawaii-puerto-rico-us-virgin-islands-guam" class="menu-link" title="USA (USA, Hawaii, Puerto Rico, US Virgin Islands, Guam)">
                                                        USA (USA, Hawaii, Puerto Rico, US Virgin Islands, Guam)                                                                </a>
                                                </li>
                                                <li>
                                                    <a href="/package/region/chau-au-41-nuoc" class="menu-link" title="Châu Âu 41 nước ">
                                                        Châu Âu 41 nước                                                                 </a>
                                                </li>
                                                <li>
                                                    <a href="/package/region/saudi-arabia-oman-kuwait-qatar" class="menu-link" title="Saudi Arabia, Oman, Kuwait, Qatar">
                                                        Saudi Arabia, Oman, Kuwait, Qatar                                                                </a>
                                                </li>
                                                <li>
                                                    <a href="/package/region/singapore-malaysia-thailand" class="menu-link" title="Singapore, Malaysia, Thailand">
                                                        Singapore, Malaysia, Thailand                                                                </a>
                                                </li>
                                                <li class="link-all-menu">
                                                    <a title="Xem tất cả các điểm đến"> Xem tất cả các điểm đến
                                                        <i class="fa-regular fa-arrow-right"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="position-relative has-child">
                                            <a href="/search-device" class="" title="Tra cứu thiết bị"> Tra cứu thiết bị </a>
                                        </li>
                                        <li>
                                            <a href="/hoi-dap" class="" title="Câu hỏi thường gặp"> Câu hỏi thường gặp </a>
                                        </li>
                                        <li class="position-relative has-child">
                                            <div data-bs-toggle="collapse" data-bs-target="#menu_04" aria-expanded="true"><a class="" title=""> Trung tâm trợ giúp </a><span class="grower collapse"></span></div>
                                            <ul id="menu_04" class="entry-menu dropdown">
                                                <li>
                                                    <a href="/gioi-thieu-esim" class="" title="Giới thiệu eSIM">Giới thiệu eSIM</a>
                                                </li>
                                                <li>
                                                    <a href="/qua-trinh-su-dung" class="" title="Quá trình sử dụng">
                                                        Quá trình sử dụng
                                                    </a>
                                                </li>
                                                <li><a href="/thanh-toan-lap-hoa-don-hoan-tien" class="" title="Thanh toán, lập hóa đơn, hoàn tiền">Thanh toán, lập hóa đơn, hoàn tiền</a></li>
                                                <li><a href="/quan-ly-tai-khoan" class="" title="Quản lý tài khoản">Quản lý tài khoản</a></li>
                                                <li><a href="/xu-ly-su-co-esim" class="" title="Xử lý sự cố eSIM">Xử lý sự cố eSIM</a></li>
                                                <li><a href="/goi-du-lieu-esim" class="" title="Gói dữ liệu eSIM">Gói dữ liệu eSIM</a></li>
                                            </ul>
                                        </li>
                                        <li class="position-relative has-child">
                                            <div data-bs-toggle="collapse" data-bs-target="#menu_05" aria-expanded="true">
                                                <a class="" title=""> Về chúng tôi </a>
                                                <span class="grower collapse"></span>
                                            </div>
                                            <ul id="menu_05" class="entry-menu dropdown">
                                                <li>
                                                    <a href="/gioi-thieu" class="menu-link" title="Giới thiệu Esimtravels.vn">
                                                        Giới thiệu Esimtravels.vn
                                                    </a>
                                                </li>
                                                <li><a href="/tin-tuc" class="menu-link" title="blog"> Blog </a></li>
                                                <li><a href="/lien-he" class="" title="Liên hệ"> Liên hệ </a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="section-lang">
                                    <ul>
                                        <li>
                                            <a title="" class="language-item d-none d-lg-block" translate="no" data-v-288e95d4="">
                                                <i class="fa-regular fa-globe" data-v-288e95d4=""></i> vi
                                            </a>
                                            <a title="" class="language-item language-item-mb d-block d-lg-none" translate="no" data-v-288e95d4="">
                                                Ngôn ngữ vi <i class="fa-solid fa-caret-down" data-v-288e95d4=""></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="btn-login text-center">
                                    <a href="/dang-nhap" class="" style="margin-right:10px;"> Đăng nhập </a>
                                    <a href="/dang-ky" class=""> Đăng ký </a></div>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="col-6">
                    <div class="logo">
                        <a aria-current="page" href="https://esimtravels.vn/" class="router-link-active router-link-exact-active">
                            <img src="./assets/img/Logo-esim-dulich-mobile-07.svg" alt="Logo eSimtravels" class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="col-3">
                    <div class="section-cart">
                        <a href="/gio-hang" class="" title="Giỏ hàng">
                            <i class="fa-regular fa-cart-shopping"></i><span>0</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="display:none;" class="model hiden" tabindex="-1" data-v-2976791c="">
        <div class="modal-dialog" data-v-2976791c="">
            <div class="modal-content" data-v-2976791c="">
                <div class="modal-header" data-v-2976791c="">
                    <h5 class="modal-title" data-v-2976791c="">Chú ý</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-v-2976791c=""></button>
                </div>
                <div class="modal-body" data-v-2976791c="">
                    <p data-v-2976791c=""></p>
                </div>
                <div class="modal-footer" data-v-2976791c="">
                    <button type="button" class="btn btn-primary" data-v-2976791c=""> Ok </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-v-2976791c=""> Cancel </button>
                </div>
            </div>
        </div>
    </div>
</header>