<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/fontawesome.min.css">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
{% include "../share/header.html" %}
{% block content %}{% endblock %}
{% include "../share/footer.html" %}
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/slick.js"></script>
<script src="./assets/js/page_all.js"></script>
<script>
    $('.slider-img-1').slick({
        infinite: true,
        slidesToShow: 1,
        arrows: false,
        autoplay: true,
    });
    $('.customer-slider').slick({
        infinite: true,
        slidesToShow: 1,
        arrows: true,
        autoplay: true,
        prevArrow: '.btn-customer-prev',
        nextArrow: '.btn-customer-next',
    });
    $('.slider-feature').slick({
        infinite: true,
        slidesToShow: 1,
        arrows: false,
        autoplay: true,
    });

    $('.list-step-slider').slick({
        infinite: true,
        slidesToShow: 1,
        arrows: false,
        autoplay: true,
    });
    $('.benefit-slider').slick({
        infinite: true,
        slidesToShow: 1,
        arrows: false,
        autoplay: true,
        dots: true
    });
</script>
</body>
</html>