<div id="searchCopo" class="section-banner-search-top">
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-xl-5 col-12">
                    <div class="item-left">
                        <div class="slogan"><span> Mở kết nối -</span> Khơi dậy đam mê </div>
                        <p> Mua eSIM du lịch 24/7 chỉ bằng 1 cú click chuột, giữ kết nối ổn định để bạn có trải nghiệm du lịch tuyệt vời ở bất kỳ đâu!</p>
                        <div class="form-search">
                            <form>
                                <div class="info-form-search inp-search-container" data-v-38613ae9="">
                                    <div class="form-group mb-0" data-v-38613ae9="">
                                        <span data-v-38613ae9=""><img src="./assets/img/location.svg" class="icon" data-v-38613ae9=""></span>
                                        <input type="text" id="sugges_search" onkeyup="suggest(this.value);" class="form-control" value="" placeholder="Quốc gia bạn đến?" data-v-38613ae9="">
                                        <button type="button" class="btn bg-main" data-v-38613ae9=""><i class="fa-light fa-magnifying-glass" data-v-38613ae9=""></i></button>
                                    </div>
                                    <ul data-v-38613ae9="" id="suggestionsList" class="countires-list position-absolute" style="display: none;"></ul>
                                </div>
                            </form>
                        </div>
                        <p> Hãy chắc chắn rằng thiết bị của bạn hỗ trợ eSIM, <a href="/search-device">kiểm tra tại đây!</a></p>
                    </div>
                </div>
                <div class="col-xl-7 d-none d-xl-block">
                    <div class="slider-img-1">
                        <div class="img-banner-search position-relative"><img src="./assets/img/01.png" alt="Banner"></div>
                        <div class="img-banner-search position-relative"><img src="./assets/img/01.png" alt="Banner"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="section-tab-list-sim">
        <div class="container">
            <div class="content-domain">
                <div class="item-table">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <button class="nav-link active" id="cuc_bo-tab1" data-bs-toggle="tab" data-bs-target="#cuc_bo1" role="tab" aria-controls="cuc_bo1" aria-selected="true">
                                Quốc Gia
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link " id="cuc_bo-tab2" data-bs-toggle="tab" data-bs-target="#cuc_bo2" role="tab" aria-controls="cuc_bo2" aria-selected="true">
                                Khu Vực
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link " id="cuc_bo-tab3" data-bs-toggle="tab" data-bs-target="#cuc_bo3" role="tab" aria-controls="cuc_bo3" aria-selected="true">
                                Nội địa Nhật
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="cuc_bo1" role="tabpanel" aria-labelledby="cuc_bo-tab1">
                            <div class="info-sim">
                                <div class="title-tab"></div>
                                <div class="list" id="tab_countrys">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 col-12">
                                            <div class="item">
                                                <a title="Thái Lan (Thailand)" href="/package/country/thai-lan-thailand">
                                                    <div class="img"><img src="./assets/img/thailand.png" alt="Thái Lan (Thailand)"></div>
                                                    <div class="name-icon">
                                                        <span class="name">
                                                            Thái Lan (Thailand)                                                        </span>
                                                        <span class="icon">
                                                            <i class="fa-light fa-chevron-right"></i>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-12">
                                            <div class="item">
                                                <a title="Trung Quốc (China)" href="/package/country/trung-quoc-china">
                                                    <div class="img"><img src="./assets/img/0YA7Vesim-China.png" alt="Trung Quốc (China)"></div>
                                                    <div class="name-icon">
                                                        <span class="name">
                                                            Trung Quốc (China)                                                        </span>
                                                        <span class="icon">
                                                            <i class="fa-light fa-chevron-right"></i>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-12">
                                            <div class="item">
                                                <a title="Mỹ (USA) US" href="/package/country/my-usa-us">
                                                    <div class="img"><img src="./assets/img/HQ8FUesim-USA United States.png" alt="Mỹ (USA) US"></div>
                                                    <div class="name-icon">
                                                        <span class="name">
                                                            Mỹ (USA) US                                                        </span>
                                                        <span class="icon">
                                                            <i class="fa-light fa-chevron-right"></i>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-12">
                                            <div class="item">
                                                <a title="Singapore" href="/package/country/singapore">
                                                    <div class="img"><img src="./assets/img/singapore.png" alt="Singapore"></div>
                                                    <div class="name-icon">
                                                        <span class="name">
                                                            Singapore                                                        </span>
                                                        <span class="icon">
                                                            <i class="fa-light fa-chevron-right"></i>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-12">
                                            <div class="item">
                                                <a title="Hàn Quốc (Korea)" href="/package/country/han-quoc-korea">
                                                    <div class="img"><img src="./assets/img/Flag_of_South_Korea-256x171.png" alt="Hàn Quốc (Korea)"></div>
                                                    <div class="name-icon">
                                                        <span class="name">
                                                            Hàn Quốc (Korea)                                                        </span>
                                                        <span class="icon">
                                                            <i class="fa-light fa-chevron-right"></i>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-12">
                                            <div class="item">
                                                <a title="Nhật Bản (Japan)" href="/package/country/nhat-ban-japan">
                                                    <div class="img"><img src="./assets/img/japan.png" alt="Nhật Bản (Japan)"></div>
                                                    <div class="name-icon">
                                                        <span class="name">
                                                            Nhật Bản (Japan)                                                        </span>
                                                        <span class="icon">
                                                            <i class="fa-light fa-chevron-right"></i>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-12">
                                            <div class="item">
                                                <a title="Tây Ban Nha (Spain)" href="/package/country/tay-ban-nha-spain">
                                                    <div class="img"><img src="./assets/img/spain.png" alt="Tây Ban Nha (Spain)"></div>
                                                    <div class="name-icon">
                                                        <span class="name">
                                                            Tây Ban Nha (Spain)                                                        </span>
                                                        <span class="icon">
                                                            <i class="fa-light fa-chevron-right"></i>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-12">
                                            <div class="item">
                                                <a title="Macao (Macau)" href="/package/country/macao-macau">
                                                    <div class="img"><img src="./assets/img/Flag_of_Macau-512x341.png" alt="Macao (Macau)"></div>
                                                    <div class="name-icon">
                                                        <span class="name">
                                                            Macao (Macau)                                                        </span>
                                                        <span class="icon">
                                                            <i class="fa-light fa-chevron-right"></i>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-12">
                                            <div class="item">
                                                <a title="Hồng Kông (Hong Kong)" href="/package/country/hong-kong-hong-kong">
                                                    <div class="img"><img src="./assets/img/Flag_of_Hong_Kong-256x171.png" alt="Hồng Kông (Hong Kong)"></div>
                                                    <div class="name-icon">
                                                        <span class="name">
                                                            Hồng Kông (Hong...                                                        </span>
                                                        <span class="icon">
                                                            <i class="fa-light fa-chevron-right"></i>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-12">
                                            <div class="item">
                                                <a title="Đài Loan (Taiwan)" href="/package/country/dai-loan-taiwan">
                                                    <div class="img"><img src="./assets/img/Flag_of_Taiwan_Republic_of_China-512x341.png" alt="Đài Loan (Taiwan)"></div>
                                                    <div class="name-icon">
                                                        <span class="name">
                                                            Đài Loan (Taiwan)                                                        </span>
                                                        <span class="icon">
                                                            <i class="fa-light fa-chevron-right"></i>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-12">
                                            <div class="item">
                                                <a title="Malaysia" href="/package/country/malaysia">
                                                    <div class="img"><img src="./assets/img/Flag_of_Malaysia-512x256.png" alt="Malaysia"></div>
                                                    <div class="name-icon">
                                                        <span class="name">
                                                            Malaysia                                                        </span>
                                                        <span class="icon">
                                                            <i class="fa-light fa-chevron-right"></i>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-12">
                                            <div class="item">
                                                <a title="Indonesia" href="/package/country/indonesia">
                                                    <div class="img"><img src="./assets/img/Flag_of_Indonesia-512x341.png" alt="Indonesia"></div>
                                                    <div class="name-icon">
                                                        <span class="name">
                                                            Indonesia                                                        </span>
                                                        <span class="icon">
                                                            <i class="fa-light fa-chevron-right"></i>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-12">
                                            <div class="item">
                                                <a title="Campuchia (Cambodia)" href="/package/country/campuchia-cambodia">
                                                    <div class="img"><img src="./assets/img/Flag_of_Cambodia-512x328.png" alt="Campuchia (Cambodia)"></div>
                                                    <div class="name-icon">
                                                        <span class="name">
                                                            Campuchia (Cambodia)                                                        </span>
                                                        <span class="icon">
                                                            <i class="fa-light fa-chevron-right"></i>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-12">
                                            <div class="item">
                                                <a title="Lào (Laos)" href="/package/country/lao-laos">
                                                    <div class="img"><img src="./assets/img/Flag_of_Laos-512x341.png" alt="Lào (Laos)"></div>
                                                    <div class="name-icon">
                                                        <span class="name">
                                                            Lào (Laos)                                                        </span>
                                                        <span class="icon">
                                                            <i class="fa-light fa-chevron-right"></i>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-12">
                                            <div class="item">
                                                <a title="Maldives" href="/package/country/maldives">
                                                    <div class="img"><img src="./assets/img/Flag_of_Maldives-512x341.png" alt="Maldives"></div>
                                                    <div class="name-icon">
                                                        <span class="name">
                                                            Maldives                                                        </span>
                                                        <span class="icon">
                                                            <i class="fa-light fa-chevron-right"></i>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-12">
                                            <div class="item">
                                                <a title="Israel" href="/package/country/israel">
                                                    <div class="img"><img src="./assets/img/Flag_of_Israel-512x371.png" alt="Israel"></div>
                                                    <div class="name-icon">
                                                        <span class="name">
                                                            Israel                                                        </span>
                                                        <span class="icon">
                                                            <i class="fa-light fa-chevron-right"></i>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-12">
                                            <div class="item">
                                                <a title="Qatar" href="/package/country/qatar">
                                                    <div class="img"><img src="./assets/img/Flag_of_Qatar-512x201.png" alt="Qatar"></div>
                                                    <div class="name-icon">
                                                        <span class="name">
                                                            Qatar                                                        </span>
                                                        <span class="icon">
                                                            <i class="fa-light fa-chevron-right"></i>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-12">
                                            <div class="item">
                                                <a title="Thổ Nhĩ Kỳ (Turkey)" href="/package/country/tho-nhi-ky-turkey">
                                                    <div class="img"><img src="./assets/img/Flag_of_Turkey-512x341.png" alt="Thổ Nhĩ Kỳ (Turkey)"></div>
                                                    <div class="name-icon">
                                                        <span class="name">
                                                            Thổ Nhĩ Kỳ...                                                        </span>
                                                        <span class="icon">
                                                            <i class="fa-light fa-chevron-right"></i>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-12">
                                            <div class="item">
                                                <a title="Ai Cập (Egypt)" href="/package/country/ai-cap-egypt">
                                                    <div class="img"><img src="./assets/img/Flag_of_Egypt-512x341.png" alt="Ai Cập (Egypt)"></div>
                                                    <div class="name-icon">
                                                        <span class="name">
                                                            Ai Cập (Egypt)                                                        </span>
                                                        <span class="icon">
                                                            <i class="fa-light fa-chevron-right"></i>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-12">
                                            <div class="item">
                                                <a title="Nam Phi (South Africa) " href="/package/country/nam-phi-south-africa">
                                                    <div class="img"><img src="./assets/img/Flag_of_South_Africa-512x341.png" alt="Nam Phi (South Africa) "></div>
                                                    <div class="name-icon">
                                                        <span class="name">
                                                            Nam Phi (South Africa)...                                                        </span>
                                                        <span class="icon">
                                                            <i class="fa-light fa-chevron-right"></i>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="link-view text-center"><a class="btn btn-highlight" onclick="showAllCountry(500);" title="Hiển thị hơn 200 quốc gia">Hiển thị hơn 200 quốc gia</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="cuc_bo2" role="tabpanel" aria-labelledby="cuc_bo2">
                            <div class="info-sim">
                                <div class="title-tab"></div>
                                <div class="list" id="tab_countrys">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 col-12">
                                            <div class="item">
                                                <a title="Châu Á (Trung Quốc, Hồng Kông, Ma Cao)" href="/package/region/chau-a-trung-quoc-hong-kong-ma-cao">
                                                    <div class="img"><img src="./assets/img/CHM.png" alt="Châu Á (Trung Quốc, Hồng Kông, Ma Cao)"></div>
                                                    <div class="name-icon">
                                                        <span class="name">
                                                            Châu Á (Trung...                                                        </span>
                                                        <span class="icon">
                                                            <i class="fa-light fa-chevron-right"></i>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-12">
                                            <div class="item">
                                                <a title="Châu Á 14 nước " href="/package/region/chau-a-14-nuoc">
                                                    <div class="img"><img src="./assets/img/283772-P6O322-312-02.png" alt="Châu Á 14 nước "></div>
                                                    <div class="name-icon">
                                                        <span class="name">
                                                            Châu Á 14 nước...                                                        </span>
                                                        <span class="icon">
                                                            <i class="fa-light fa-chevron-right"></i>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-12">
                                            <div class="item">
                                                <a title="Châu Á 31 nước" href="/package/region/chau-a-31-nuoc">
                                                    <div class="img"><img src="./assets/img/283772-P6O322-312-02.png" alt="Châu Á 31 nước"></div>
                                                    <div class="name-icon">
                                                        <span class="name">
                                                            Châu Á 31 nước                                                        </span>
                                                        <span class="icon">
                                                            <i class="fa-light fa-chevron-right"></i>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-12">
                                            <div class="item">
                                                <a title="Châu Mỹ (USA &amp; Canada)" href="/package/region/chau-my-usa--canada">
                                                    <div class="img"><img src="./assets/img/USA,Canada.jpg" alt="Châu Mỹ (USA &amp; Canada)"></div>
                                                    <div class="name-icon">
                                                        <span class="name">
                                                            Châu Mỹ (USA...                                                        </span>
                                                        <span class="icon">
                                                            <i class="fa-light fa-chevron-right"></i>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-12">
                                            <div class="item">
                                                <a title="Châu Úc (Australia &amp; New Zealand)" href="/package/region/chau-uc-australia--new-zealand">
                                                    <div class="img"><img src="./assets/img/aum-03.png" alt="Châu Úc (Australia &amp; New Zealand)"></div>
                                                    <div class="name-icon">
                                                        <span class="name">
                                                            Châu Úc (Australia...                                                        </span>
                                                        <span class="icon">
                                                            <i class="fa-light fa-chevron-right"></i>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-12">
                                            <div class="item">
                                                <a title="Toàn Cầu" href="/package/region/toan-cau">
                                                    <div class="img"><img src="./assets/img/Global2.jpg" alt="Toàn Cầu"></div>
                                                    <div class="name-icon">
                                                        <span class="name">
                                                            Toàn Cầu                                                        </span>
                                                        <span class="icon">
                                                            <i class="fa-light fa-chevron-right"></i>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-12">
                                            <div class="item">
                                                <a title="Brazil, Argentina, Chile, Peru, Paraguay, Uruguay, Ecuador, Colombia" href="/package/region/brazil-argentina-chile-peru-paraguay-uruguay-ecuador-colombia">
                                                    <div class="img"><img src="./assets/img/Nam-Mỹ.jpg" alt="Brazil, Argentina, Chile, Peru, Paraguay, Uruguay, Ecuador, Colombia"></div>
                                                    <div class="name-icon">
                                                        <span class="name">
                                                            Brazil, Argentina,...                                                        </span>
                                                        <span class="icon">
                                                            <i class="fa-light fa-chevron-right"></i>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-12">
                                            <div class="item">
                                                <a title="Kazakhstan, Uzbekistan, Kyrgyzstan, Tajikistan" href="/package/region/kazakhstan-uzbekistan-kyrgyzstan-tajikistan">
                                                    <div class="img"><img src="./assets/img/Kazashtanmap.jpg" alt="Kazakhstan, Uzbekistan, Kyrgyzstan, Tajikistan"></div>
                                                    <div class="name-icon">
                                                        <span class="name">
                                                            Kazakhstan, Uzbekistan,...                                                        </span>
                                                        <span class="icon">
                                                            <i class="fa-light fa-chevron-right"></i>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-12">
                                            <div class="item">
                                                <a title="Hong Kong &amp; Macau" href="/package/region/hong-kong--macau">
                                                    <div class="img"><img src="./assets/img/HKMC.jpg" alt="Hong Kong &amp; Macau"></div>
                                                    <div class="name-icon">
                                                        <span class="name">
                                                            Hong Kong &amp; Macau                                                        </span>
                                                        <span class="icon">
                                                            <i class="fa-light fa-chevron-right"></i>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-12">
                                            <div class="item">
                                                <a title="China &amp; Hong Kong " href="/package/region/china--hong-kong">
                                                    <div class="img"><img src="./assets/img/TQHK.jpg" alt="China &amp; Hong Kong "></div>
                                                    <div class="name-icon">
                                                        <span class="name">
                                                            China &amp; Hong Kong...                                                        </span>
                                                        <span class="icon">
                                                            <i class="fa-light fa-chevron-right"></i>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-12">
                                            <div class="item">
                                                <a title="Taiwan, Hong Kong, Macau, China" href="/package/region/taiwan-hong-kong-macau-china">
                                                    <div class="img"><img src="./assets/img/CHM.png" alt="Taiwan, Hong Kong, Macau, China"></div>
                                                    <div class="name-icon">
                                                        <span class="name">
                                                            Taiwan, Hong Kong,...                                                        </span>
                                                        <span class="icon">
                                                            <i class="fa-light fa-chevron-right"></i>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-12">
                                            <div class="item">
                                                <a title="Châu Á 25 nước " href="/package/region/chau-a-25-nuoc">
                                                    <div class="img"><img src="./assets/img/283772-P6O322-312-02.png" alt="Châu Á 25 nước "></div>
                                                    <div class="name-icon">
                                                        <span class="name">
                                                            Châu Á 25 nước...                                                        </span>
                                                        <span class="icon">
                                                            <i class="fa-light fa-chevron-right"></i>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-12">
                                            <div class="item">
                                                <a title="Singapore, Malaysia, Thailand" href="/package/region/singapore-malaysia-thailand">
                                                    <div class="img"><img src="./assets/img/SMTL.jpg" alt="Singapore, Malaysia, Thailand"></div>
                                                    <div class="name-icon">
                                                        <span class="name">
                                                            Singapore, Malaysia,...                                                        </span>
                                                        <span class="icon">
                                                            <i class="fa-light fa-chevron-right"></i>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-12">
                                            <div class="item">
                                                <a title="Saudi Arabia, Oman, Kuwait, Qatar" href="/package/region/saudi-arabia-oman-kuwait-qatar">
                                                    <div class="img"><img src="./assets/img/Africa.jpg" alt="Saudi Arabia, Oman, Kuwait, Qatar"></div>
                                                    <div class="name-icon">
                                                        <span class="name">
                                                            Saudi Arabia, Oman,...                                                        </span>
                                                        <span class="icon">
                                                            <i class="fa-light fa-chevron-right"></i>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-12">
                                            <div class="item">
                                                <a title="Châu Âu 41 nước " href="/package/region/chau-au-41-nuoc">
                                                    <div class="img"><img src="./assets/img/Europe.jpg" alt="Châu Âu 41 nước "></div>
                                                    <div class="name-icon">
                                                        <span class="name">
                                                            Châu Âu 41 nước...                                                        </span>
                                                        <span class="icon">
                                                            <i class="fa-light fa-chevron-right"></i>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-12">
                                            <div class="item">
                                                <a title="USA (USA, Hawaii, Puerto Rico, US Virgin Islands, Guam)" href="/package/region/usa-usa-hawaii-puerto-rico-us-virgin-islands-guam">
                                                    <div class="img"><img src="./assets/img/Châu-mỹ.jpg" alt="USA (USA, Hawaii, Puerto Rico, US Virgin Islands, Guam)"></div>
                                                    <div class="name-icon">
                                                        <span class="name">
                                                            USA (USA, Hawaii,...                                                        </span>
                                                        <span class="icon">
                                                            <i class="fa-light fa-chevron-right"></i>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-12">
                                            <div class="item">
                                                <a title="America and Canada and Mexico (including Hawaii)" href="/package/region/america-and-canada-and-mexico-including-hawaii">
                                                    <div class="img"><img src="./assets/img/Châu-mỹ.jpg" alt="America and Canada and Mexico (including Hawaii)"></div>
                                                    <div class="name-icon">
                                                        <span class="name">
                                                            America and Canada...                                                        </span>
                                                        <span class="icon">
                                                            <i class="fa-light fa-chevron-right"></i>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-12">
                                            <div class="item">
                                                <a title="America and Canada (including Hawaii)" href="/package/region/america-and-canada-including-hawaii">
                                                    <div class="img"><img src="./assets/img/USA,Canada.jpg" alt="America and Canada (including Hawaii)"></div>
                                                    <div class="name-icon">
                                                        <span class="name">
                                                            America and Canada...                                                        </span>
                                                        <span class="icon">
                                                            <i class="fa-light fa-chevron-right"></i>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-12">
                                            <div class="item">
                                                <a title="Kazakhstan, Uzbekistan, Kyrgyzstan, Tajikistan" href="/package/region/kazakhstan-uzbekistan-kyrgyzstan-tajikistan">
                                                    <div class="img"><img src="./assets/img/Kazashtanmap.jpg" alt="Kazakhstan, Uzbekistan, Kyrgyzstan, Tajikistan"></div>
                                                    <div class="name-icon">
                                                        <span class="name">
                                                            Kazakhstan, Uzbekistan,...                                                        </span>
                                                        <span class="icon">
                                                            <i class="fa-light fa-chevron-right"></i>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-12">
                                            <div class="item">
                                                <a title="Brazil, Argentina, Chile, Peru, Paraguay, Uruguay, Ecuador, Colombia" href="/package/region/brazil-argentina-chile-peru-paraguay-uruguay-ecuador-colombia">
                                                    <div class="img"><img src="./assets/img/Nam-Mỹ.jpg" alt="Brazil, Argentina, Chile, Peru, Paraguay, Uruguay, Ecuador, Colombia"></div>
                                                    <div class="name-icon">
                                                        <span class="name">
                                                            Brazil, Argentina,...                                                        </span>
                                                        <span class="icon">
                                                            <i class="fa-light fa-chevron-right"></i>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-12">
                                            <div class="item">
                                                <a title="Toàn Cầu (không bao gồm Trung Quốc Đại Lục)" href="/package/region/toan-cau-khong-bao-gom-trung-quoc-dai-luc">
                                                    <div class="img"><img src="./assets/img/Toàn-cầu-no-china.jpg" alt="Toàn Cầu (không bao gồm Trung Quốc Đại Lục)"></div>
                                                    <div class="name-icon">
                                                        <span class="name">
                                                            Toàn Cầu (không...                                                        </span>
                                                        <span class="icon">
                                                            <i class="fa-light fa-chevron-right"></i>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-12">
                                            <div class="item">
                                                <a title="Toàn Cầu 146 nước" href="/package/region/toan-cau-146-nuoc">
                                                    <div class="img"><img src="./assets/img/Global2.jpg" alt="Toàn Cầu 146 nước"></div>
                                                    <div class="name-icon">
                                                        <span class="name">
                                                            Toàn Cầu 146...                                                        </span>
                                                        <span class="icon">
                                                            <i class="fa-light fa-chevron-right"></i>
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="cuc_bo3" role="tabpanel" aria-labelledby="cuc_bo3">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-device">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="content">
                    <div class="info-content">
                        <div class="title-section"> Thiết bị của bạn <span>có hỗ trợ eSIM</span> không ? </div>
                        <div class="description"> Hiện tại eSIM đã được hỗ trợ trên hơn 300 thiết bị, bạn hãy kiểm tra ngay để đảm bảo thiết bị của mình có hỗ trợ eSIM trước khi đăng ký mua gói dữ liệu nhé! </div>
                        <div class="tab-device">
                            <ul class="nav nav-tabs" role="tablist">

                                <li class="nav-item"><button class="nav-link active" id="Company_1" data-bs-toggle="tab" data-bs-target="#thiet_bi_31" role="tab" aria-controls="Apple" aria-selected="true">Apple</button></li>
                                <li class="nav-item"><button class="nav-link" id="Company_2" data-bs-toggle="tab" data-bs-target="#thiet_bi_32" role="tab" aria-controls="Samsung" aria-selected="true">Samsung</button></li>
                                <li class="nav-item"><button class="nav-link" id="Company_3" data-bs-toggle="tab" data-bs-target="#thiet_bi_33" role="tab" aria-controls="Google" aria-selected="true">Google</button></li>
                                <li class="nav-item"><button class="nav-link" id="Company_5" data-bs-toggle="tab" data-bs-target="#thiet_bi_35" role="tab" aria-controls="Hãng khác" aria-selected="true">Hãng khác</button></li>

                            </ul>
                            <div class="tab-content">

                                <div class="tab-pane fade show active" id="thiet_bi_31" role="tabpanel" aria-labelledby="iphone-tab">
                                    <div class="content-tab-device">
                                        <ul>

                                            <li><i class="fa-solid fa-circle-check"></i> iPhone 15 Series (Plus, Pro, Pro Max)</li>
                                            <li><i class="fa-solid fa-circle-check"></i> iPhone 14 Series (Plus, Pro, Pro Max)</li>
                                            <li><i class="fa-solid fa-circle-check"></i> iPhone 13 Series (Mini, Pro, Pro Max)</li>
                                            <li><i class="fa-solid fa-circle-check"></i> iPhone 12 Series (Mini, Pro, Pro Max)</li>
                                            <li><i class="fa-solid fa-circle-check"></i> iPhone 11 Series (Pro, Pro Max)</li>
                                            <li><i class="fa-solid fa-circle-check"></i> iPhone XS / XS Max</li>
                                            <li><i class="fa-solid fa-circle-check"></i> iPhone XR</li>
                                            <li><i class="fa-solid fa-circle-check"></i> iPhone SE (2020, 2022)</li>

                                        </ul>
                                        <div class="mb-3"><a class="btn btn-highlight" href="/search-device" title=""> Xem tất cả các thiết bị <i class="fa-sharp fa-regular fa-arrow-right-long ml-5"></i></a></div>
                                        <div class="note"> Lưu ý: eSIM không hỗ trợ với thiết bị iPhone từ Trung Quốc đại lục, Hồng kông, Macao (trừ iPhone các dòng 13 mini, 12 mini, SE2020, XS) </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="thiet_bi_32" role="tabpanel" aria-labelledby="iphone-tab">
                                    <div class="content-tab-device">
                                        <ul>

                                            <li><i class="fa-solid fa-circle-check"></i> Samsung Galaxy S23+ / S23 Ultra</li>
                                            <li><i class="fa-solid fa-circle-check"></i> Samsung Galaxy S22+ / Ultra 5G</li>
                                            <li><i class="fa-solid fa-circle-check"></i> Samsung Galaxy S21+ / S21 Ultra 5G</li>
                                            <li><i class="fa-solid fa-circle-check"></i> Samsung Galaxy S20 / S20+ / S Ultra</li>
                                            <li><i class="fa-solid fa-circle-check"></i> Samsung Galaxy Note 20 Ultra</li>
                                            <li><i class="fa-solid fa-circle-check"></i> Samsung Note  Ultra / Ultra 5G</li>
                                            <li><i class="fa-solid fa-circle-check"></i> Samsung Galaxy Fold </li>
                                            <li><i class="fa-solid fa-circle-check"></i> Samsung Galaxy Fold2 5G</li>

                                        </ul>
                                        <div class="mb-3"><a class="btn btn-highlight" href="/search-device" title=""> Xem tất cả các thiết bị <i class="fa-sharp fa-regular fa-arrow-right-long ml-5"></i></a></div>
                                        <div class="note"> Lưu ý: eSIM không hỗ trợ với thiết bị iPhone từ Trung Quốc đại lục, Hồng kông, Macao (trừ iPhone các dòng 13 mini, 12 mini, SE2020, XS) </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="thiet_bi_33" role="tabpanel" aria-labelledby="iphone-tab">
                                    <div class="content-tab-device">
                                        <ul>

                                            <li><i class="fa-solid fa-circle-check"></i> Google Pixel 2</li>
                                            <li><i class="fa-solid fa-circle-check"></i> Google Pixel 3 / 3XL / 3a</li>
                                            <li><i class="fa-solid fa-circle-check"></i> Google Pixel 4 / 4XL/ 4a</li>
                                            <li><i class="fa-solid fa-circle-check"></i> Google Pixel 5 / 5a</li>
                                            <li><i class="fa-solid fa-circle-check"></i> Google Pixel 6 / 6Pro / 6a</li>
                                            <li><i class="fa-solid fa-circle-check"></i> Google Pixel 7 / 7Pro</li>

                                        </ul>
                                        <div class="mb-3"><a class="btn btn-highlight" href="/search-device" title=""> Xem tất cả các thiết bị <i class="fa-sharp fa-regular fa-arrow-right-long ml-5"></i></a></div>
                                        <div class="note"> Lưu ý: eSIM không hỗ trợ với thiết bị iPhone từ Trung Quốc đại lục, Hồng kông, Macao (trừ iPhone các dòng 13 mini, 12 mini, SE2020, XS) </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="thiet_bi_35" role="tabpanel" aria-labelledby="iphone-tab">
                                    <div class="content-tab-device">
                                        <ul>

                                            <li><i class="fa-solid fa-circle-check"></i> Xiaomi 12T Pro / 13 / Lite / Pro</li>
                                            <li><i class="fa-solid fa-circle-check"></i> Huawei P40 / P40 Pro / P40 Mate</li>
                                            <li><i class="fa-solid fa-circle-check"></i> Sony Xperia 10 III Lite / Xperia 1 IV</li>
                                            <li><i class="fa-solid fa-circle-check"></i> Oppo Find X3 Pro /X5 / X5 Pro </li>
                                            <li><i class="fa-solid fa-circle-check"></i> Motorola Razr 2019 / 5G</li>
                                            <li><i class="fa-solid fa-circle-check"></i> Nokia X30 5G</li>
                                            <li><i class="fa-solid fa-circle-check"></i> Lenovo Yoga 630</li>
                                            <li><i class="fa-solid fa-circle-check"></i> LG Nexus 5X / 6 / 6P / G7 Thin Q</li>

                                        </ul>
                                        <div class="mb-3"><a class="btn btn-highlight" href="/search-device" title=""> Xem tất cả các thiết bị <i class="fa-sharp fa-regular fa-arrow-right-long ml-5"></i></a></div>
                                        <div class="note"> Lưu ý: eSIM không hỗ trợ với thiết bị iPhone từ Trung Quốc đại lục, Hồng kông, Macao (trừ iPhone các dòng 13 mini, 12 mini, SE2020, XS) </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="img-dv"><img src="./assets/img/thiet_bi_tuong_thich.jpg" alt="Thiết bị của bạn có hỗ trợ eSIM không ?"></div>
            </div>
        </div>
    </div>
</div>
<div class="section-hdiw d-block d-lg-none" data-v-46b55ced="">
    <div class="container" data-v-46b55ced="">
        <div class="content-bottom" data-v-46b55ced="">
            <div class="slider-feature">
                <div class="item-home" data-v-46b55ced="">
                    <img src="./assets/img/daquocgia.svg" alt="Hỗ trợ 200+ quốc gia" data-v-46b55ced="">
                    <div class="name-home" data-v-46b55ced="">Hỗ trợ toàn cầu</div>
                    <div class="des-home" data-v-46b55ced=""> eSim Travels cung cấp các gói dữ liệu tại hầu hết các quốc gia trên toàn thế giới. </div>
                </div>
                <div class="item-home" data-v-46b55ced="">
                    <img src="./assets/img/btunlimited.svg" alt="Băng thông Unlimited" data-v-46b55ced="">
                    <div class="name-home" data-v-46b55ced="">Băng thông Unlimited</div>
                    <div class="des-home" data-v-46b55ced=""> Kết nối ổn định, không bị chặn các mạng xã hội, gói dữ liệu sử dụng không giới hạn tại tất cả các điểm đến, </div>
                </div>
                <div class="item-home" data-v-46b55ced="">
                    <img src="./assets/img/khong_phi_chuyen.svg" alt="Không phí chuyển vùng" data-v-46b55ced="">
                    <div class="name-home" data-v-46b55ced="">Không phí chuyển vùng</div>
                    <div class="des-home" data-v-46b55ced=""> Không phí ẩn, tiết kiệm 96% không mất phí chuyển vùng dữ liệu </div>
                </div>
                <div class="item-home" data-v-46b55ced="">
                    <img src="./assets/img/trai_nghiem.svg" alt="Hoàn tiền 100%" data-v-46b55ced="">
                    <div class="name-home" data-v-46b55ced="">Hoàn tiền 100%</div>
                    <div class="des-home" data-v-46b55ced=""> Uy tín, linh hoạt, tiện dụng cao, không cần lắp đặt, dễ sử dụng </div>
                </div>
                <div class="item-home" data-v-46b55ced="">
                    <img src="./assets/img/support_247.svg" alt="Support 24/7" data-v-46b55ced="">
                    <div class="name-home" data-v-46b55ced="">Support 24/7</div>
                    <div class="des-home" data-v-46b55ced=""> Hỗ trợ khách hàng trong suốt hành trình </div>
                </div>
                <div class="item-home" data-v-46b55ced="">
                    <img src="./assets/img/cai_dat_sieu_toc.svg" alt="Cài đặt siêu tốc" data-v-46b55ced="">
                    <div class="name-home" data-v-46b55ced="">Cài đặt siêu tốc</div>
                    <div class="des-home" data-v-46b55ced=""> Mua và thiết lập eSIM chỉ trong vòng vài phút </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-step d-none d-lg-block">
    <div class="container">
        <div class="content-top">
            <div class="link-why text-center">
                <span> Tìm hiểu <a href="questions.html" class="" title="Câu hỏi thường gặp"> Câu hỏi thường gặp</a> 
                    để hỗ trợ bạn trong suốt quá trình sử dụng eSIM 
                </span>
            </div>
            <div class="title text-center">Đăng ký mua và kích hoạt eSIM</div>
            <div class="title-section text-center">Cực kỳ đơn giản và nhanh chóng chỉ với 3 bước</div>
            <div class="list-step">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="item text-center">
                            <div class="img"><img src="./assets/img/4.png" alt=""></div>
                            <div class="info">
                                <div class="name color-highlight font-weight-bold"> Tìm kiếm điểm đến và gói cước phù hợp </div>
                                <div class="description"> eSim Travels cung cấp đa dạng gói dữ liệu tại hầu hết các quốc gia trên thế giới. </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="item text-center">
                            <div class="img"><img src="./assets/img/5.png" alt=""></div>
                            <div class="info">
                                <div class="name color-highlight font-weight-bold"> Quét QRcode </div>
                                <div class="description"> Nhận mã qua Email hoặc vào thông tin esim của tôi, kích hoạt trực tuyến eSim ngay lập tức </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="item text-center">
                            <div class="img"><img src="./assets/img/6.png" alt=""></div>
                            <div class="info">
                                <div class="name color-highlight font-weight-bold"> Kết nối internet tốc độ cao đã hoàn thành </div>
                                <div class="description"> Tận hưởng trọn vẹn mọi khoảnh khắc trong cuộc hành trình với kết nối mạng tốc độ cao, ổn định mọi lúc mọi nơi </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-step d-block d-lg-none">
    <div class="container">
        <div class="content-top">
            <div class="link-view text-center"><a href="questions.html" class="btn btn-highlight" title="Trợ giúp &amp; Câu hỏi thường gặp">Trợ giúp &amp; Câu hỏi thường gặp</a></div>
            <div class="title text-center">Làm thế nào đê eSIM hoạt động?</div>
            <div class="title-section text-center">Thật dễ dàng chỉ với 3 bước</div>
            <div class="list-step list-step-slider">
                <div class="swiper-slide">
                    <div class="item text-center">
                        <div class="img"><img src="./assets/img/phone_1.svg" alt=""></div>
                        <div class="info">
                            <div class="name color-highlight font-weight-bold"> Chọn điểm đến và gói cước </div>
                            <div class="description"> ESIMTRAVELS cung cấp gói dữ liệu eSIM hơn 200+ quốc gia &amp; khu vực </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item text-center">
                        <div class="img"><img src="./assets/img/phone_2.svg" alt=""></div>
                        <div class="info">
                            <div class="name color-highlight font-weight-bold"> Quét QRcode </div>
                            <div class="description"> Nhận mã qua Email, kích hoạt trực tuyến eSIM trong 30s </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item text-center">
                        <div class="img"><img src="./assets/img/phone_3.svg" alt=""></div>
                        <div class="info">
                            <div class="name color-highlight font-weight-bold"> Kết nối tốc độ cao </div>
                            <div class="description"> Tận hưởng chuyến đi vui vẻ, truy cập Internet mọi lúc mọi nơi, không phí ẩn, không phí chuyển vùng </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-hdiw d-none d-lg-block">
    <div class="container">
        <div class="content-bottom">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="item">
                        <div class="icon"><img src="./assets/img/daquocgia.svg" alt="Hỗ trợ toàn cầu"></div>
                        <div class="name">Hỗ trợ toàn cầu</div>
                        <div class="description"> eSim Travels cung cấp các gói dữ liệu tại hầu hết các quốc gia trên toàn thế giới. </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="item">
                        <div class="icon"><img src="./assets/img/btunlimited.svg" alt="Băng thông Unlimited"></div>
                        <div class="name">Băng thông Unlimited</div>
                        <div class="description"> Kết nối tốc độ cao, không giới hạn, không chặn các mạng xã hội tại bất cứ đâu bạn đến. </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="item">
                        <div class="icon"><img src="./assets/img/khong_phi_chuyen.svg" alt="Không phí chuyển vùng"></div>
                        <div class="name">Không phí chuyển vùng</div>
                        <div class="description"> Không mất phí chuyển vùng dữ liệu, tiết kiệm chi phí tối đa. </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="item">
                        <div class="icon"><img src="./assets/img/trai_nghiem.svg" alt="Hoàn tiền 100%"></div>
                        <div class="name">Hoàn tiền 100%</div>
                        <div class="description"> Đội ngũ hỗ trợ tận tình, chuyên nghiệp, giúp bạn có chuyến hành trình suôn sẻ và ý nghĩa. </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="item">
                        <div class="icon"><img src="./assets/img/support_247.svg" alt="Support 24/7"></div>
                        <div class="name">Support 24/7</div>
                        <div class="description"> Hỗ trợ khách hàng trong suốt hành trình, đội ngũ chuyên nghiệp </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="item">
                        <div class="icon"><img src="./assets/img/cai_dat_sieu_toc.svg" alt="Cài đặt siêu tốc"></div>
                        <div class="name">Kết nối tức thì</div>
                        <div class="description"> Chỉ với thao tác đơn giản, bạn đã có mạng internet tốc độ cao không giới hạn cho chuyến đi của mình. </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-benefit d-none d-lg-block" data-v-b83305d4="">
    <div class="container" data-v-b83305d4="">
        <div class="content" data-v-b83305d4="">
            <div class="row" data-v-b83305d4="">
                <div class="col-lg-5" data-v-b83305d4="">
                    <div class="img-benefit" data-v-b83305d4=""><img src="./assets/img/loi_ich.jpg" alt="ESIMTRAVELS" data-v-b83305d4=""></div>
                </div>
                <div class="col-lg-7 col-md-8 col-12" data-v-b83305d4="">
                    <div class="info" data-v-b83305d4="">
                        <div class="title-section" data-v-b83305d4=""><span data-v-b83305d4="">Esim Travels </span><span class="color-main" data-v-b83305d4="">mang lại lợi ích cho bạn như thế nào?</span></div>
                        <div class="list" data-v-b83305d4="">
                            <div class="item-home-1" data-v-b83305d4="">
                                <div class="icon" data-v-b83305d4="">
                                    <img src="./assets/img/trai_nghiem_mien_phi.svg" alt="Xu hướng mới, công nghệ mới" data-v-b83305d4="">
                                </div>
                                <div class="name-description" data-v-b83305d4="">
                                    <div class="name-home" data-v-b83305d4="">Xu hướng mới, công nghệ mới</div>
                                    <div class="des-home" data-v-b83305d4=""> Không cần tháo lắp SIM, không tốn thời gian tìm kiếm, tiện lợi và tương thích với hầu hết mọi thiết bị. Sử dụng internet tốc độ cao tại bất cứ đâu trên thế giới. </div>
                                </div>
                            </div>
                            <div class="item-home-1" data-v-b83305d4="">
                                <div class="icon" data-v-b83305d4=""><img src="./assets/img/giao_hang.svg" alt="Giao hàng nhanh" data-v-b83305d4=""></div>
                                <div class="name-description" data-v-b83305d4="">
                                    <div class="name-home" data-v-b83305d4="">Mua và nhận hàng trong tích tắc</div>
                                    <div class="des-home" data-v-b83305d4=""> Mua Esim Travels trực tuyến mọi lúc mọi nơi và nhận eSIM qua email. Tiết kiệm 100% chi phí chuyển vùng, không phí ẩn. </div>
                                </div>
                            </div>
                            <div class="item-home-1" data-v-b83305d4="">
                                <div class="icon" data-v-b83305d4=""><img src="./assets/img/khich_hoaatg.svg" alt="Cài đặt dễ dàng" data-v-b83305d4=""></div>
                                <div class="name-description" data-v-b83305d4="">
                                    <div class="name-home" data-v-b83305d4="">Cài đặt nhanh chóng, đơn giản</div>
                                    <div class="des-home" data-v-b83305d4=""> Chỉ mất vài phút để quét QR và kích hoạt, bạn sẽ luôn giữ kết nối ổn định với đường truyền mạng tốc độ cao. </div>
                                </div>
                            </div>
                            <div class="item-home-1" data-v-b83305d4="">
                                <div class="icon" data-v-b83305d4=""><img src="./assets/img/like.png" alt="Chuyến đi hạnh phúc" data-v-b83305d4=""></div>
                                <div class="name-description" data-v-b83305d4="">
                                    <div class="name-home" data-v-b83305d4="">Tận hưởng trọn vẹn chuyến đi</div>
                                    <div class="des-home" data-v-b83305d4=""> Giữ liên lạc và chia sẻ từng khoảnh khắc, không chặn mạng xã hội, lướt web tự do như chính tại nhà bạn. </div>
                                </div>
                            </div>
                            <div class="" data-v-b83305d4=""><a class="btn btn-highlight" href="javascript:;" title="Tìm hiểu thêm về cách cài đặt eSIM " data-v-b83305d4=""> Tìm hiểu thêm về cách cài đặt eSIM <i class="fa-sharp fa-regular fa-arrow-right-long ml-5" data-v-b83305d4=""></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-benefit d-block d-lg-none" data-v-b83305d4="">
    <div class="container" data-v-b83305d4="">
        <div class="content" data-v-b83305d4="">
            <div class="info" data-v-b83305d4="">
                <div class="title-section" data-v-b83305d4=""><span data-v-b83305d4="">ESIMTRAVELS </span><span class="color-main" data-v-b83305d4="">mang lại lợi ích cho bạn như thế nào?</span></div>
                <div class="list" data-v-b83305d4="">
                    <div class="benefit-slider">
                        <div class="item-home-1" data-v-b83305d4="">
                            <img src="./assets/img/trai_nghiem_mien_phi.svg" alt="" data-v-b83305d4="">
                            <div class="name-home" data-v-b83305d4="">Xu hướng mới, công nghệ mới</div>
                            <div class="des-home" data-v-b83305d4=""> Không phải tháo lắp SIM, tính linh hoạt và bảo mật cao. Không tốn thời gian tìm kiếm, tận hưởng Internet tốc độ cao ở mọi nơi trên thế giới </div>
                        </div>
                        <div class="item-home-1" data-v-b83305d4="">
                            <img src="./assets/img/giao_hang.svg" alt="Giao hàng nhanh" data-v-b83305d4="">
                            <div class="name-home" data-v-b83305d4="">Giao hàng nhanh</div>
                            <div class="des-home" data-v-b83305d4=""> Mua ESIMTRAVELS trực tuyến mọi lúc mọi nơi. Nhận eSIM qua email của bạn sau vài phút. Tiết kiệm 100% chi phí chuyển vùng, không phí ẩn </div>
                        </div>
                        <div class="item-home-1" data-v-b83305d4="">
                            <img src="./assets/img/khich_hoaatg.svg" alt="Cài đặt dễ dàng" data-v-b83305d4="">
                            <div class="name-home" data-v-b83305d4="">Cài đặt dễ dàng</div>
                            <div class="des-home" data-v-b83305d4=""> Cực kì nhanh gọn, quét QR kích hoạt trong 3 bước và luôn kết nối ổn định với băng thông sử dụng không giới hạn </div>
                        </div>
                        <div class="item-home-1" data-v-b83305d4="">
                            <img src="./assets/img/like.png" alt="Chuyến đi hạnh phúc" data-v-b83305d4="">
                            <div class="name-home" data-v-b83305d4="">Chuyến đi hạnh phúc</div>
                            <div class="des-home" data-v-b83305d4=""> Tận hưởng cảm xúc trong suốt hành trình, giữ liên lạc và chia sẻ khoảnh khắc tức thì tới gia đình, bạn bè và kết nối công việc hiệu quả </div>
                        </div>
                    </div>
                    <div class="link-view text-center" data-v-b83305d4=""><a class="btn btn-highlight" href="javascript:;" title="Tìm hiểu thêm về cách cài đặt eSIM " data-v-b83305d4=""> Tìm hiểu thêm về cách cài đặt eSIM </a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-customer-reviews" data-v-cedf144e="">
    <div class="container" data-v-cedf144e="">
        <div class="content" data-v-cedf144e="">
            <div class="title-section text-center" data-v-cedf144e=""> ESIMTRAVELS là eSIM được nhiều người nổi tiếng và quý khách hàng trên thế giới khuyên dùng </div>
        </div>
        <div class="customer-slider">
            <div data-v-cedf144e="">
                <div class="row justify-content-between" data-v-cedf144e="">
                    <div class="col-xl-6 col-12" data-v-cedf144e="">
                        <div class="item" data-v-cedf144e="">
                            <div class="icon" data-v-cedf144e=""><img src="./assets/img/quote.png" alt="" data-v-cedf144e=""></div>
                            <div class="description" data-v-cedf144e="">
                                Chuyến đi Nhật của mình đã rất suôn sẻ vì mình mua sẵn eSim du lịch ở Việt Nam. Tuy sát ngày mới nhớ ra để mua nhưng cũng không gặp vấn đề gì vì mọi thứ đều tự động trên website của Esim Travel và chỉ mất vài phút để mình có eSim                                                        </div>
                            <div class="name-country" data-v-cedf144e="">
                                <span class="name" data-v-cedf144e="">Hoàng Minh Long - Kinh doanh tự do</span>
                                <span class="buyer" data-v-cedf144e="">
                                                                <img src="./assets/img/check.png" alt="" data-v-cedf144e=""> Người mua đã được xác minh
                                                            </span>
                            </div>
                            <div class="start-icon" data-v-cedf144e="">
                                <div class="star" data-v-cedf144e=""><i class="fa-solid fa-star" data-v-cedf144e=""></i><i class="fa-solid fa-star" data-v-cedf144e=""></i><i class="fa-solid fa-star" data-v-cedf144e=""></i><i class="fa-solid fa-star" data-v-cedf144e=""></i><i class="fa-solid fa-star" data-v-cedf144e=""></i></div>
                                <div class="icon-loc" data-v-cedf144e=""><img src="./assets/img/vietnam.png" alt="" data-v-cedf144e=""></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-6" data-v-cedf144e="">
                        <div class="img-review position-relative ratio-1-1" data-v-cedf144e="">
                            <img class="rtbs" src="./assets/img/fb1.jpg" alt="" data-v-cedf144e="">
                        </div>
                    </div>
                </div>
            </div>
            <div data-v-cedf144e="">
                <div class="row justify-content-between" data-v-cedf144e="">
                    <div class="col-xl-6 col-12" data-v-cedf144e="">
                        <div class="item" data-v-cedf144e="">
                            <div class="icon" data-v-cedf144e=""><img src="./assets/img/quote.png" alt="" data-v-cedf144e=""></div>
                            <div class="description" data-v-cedf144e="">

                                Là một người làm du lịch, tư vấn khách chuẩn bị một chiếc eSim là việc mình luôn làm trước mỗi chuyến đi để khách hàng có trải nghiệm trọn vẹn nhất. Sau thời gian dài đồng hành cùng eSim Travel thì thật may mắn vì khách hàng luôn hài lòng và công việc của mình cũng thuận lợi.                                                        </div>
                            <div class="name-country" data-v-cedf144e="">
                                <span class="name" data-v-cedf144e=""> Đặng Tiến Linh - Trưởng phòng kinh doanh</span>
                                <span class="buyer" data-v-cedf144e="">
                                                                <img src="./assets/img/check.png" alt="" data-v-cedf144e=""> Người mua đã được xác minh
                                                            </span>
                            </div>
                            <div class="start-icon" data-v-cedf144e="">
                                <div class="star" data-v-cedf144e=""><i class="fa-solid fa-star" data-v-cedf144e=""></i><i class="fa-solid fa-star" data-v-cedf144e=""></i><i class="fa-solid fa-star" data-v-cedf144e=""></i><i class="fa-solid fa-star" data-v-cedf144e=""></i><i class="fa-solid fa-star" data-v-cedf144e=""></i></div>
                                <div class="icon-loc" data-v-cedf144e=""><img src="./assets/img/vietnam.png" alt="" data-v-cedf144e=""></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-6" data-v-cedf144e="">
                        <div class="img-review position-relative ratio-1-1" data-v-cedf144e="">
                            <img class="rtbs" src="./assets/img/fb3.jpg" alt="" data-v-cedf144e="">
                        </div>
                    </div>
                </div>
            </div>
            <div data-v-cedf144e="">
                <div class="row justify-content-between" data-v-cedf144e="">
                    <div class="col-xl-6 col-12" data-v-cedf144e="">
                        <div class="item" data-v-cedf144e="">
                            <div class="icon" data-v-cedf144e=""><img src="./assets/img/quote.png" alt="" data-v-cedf144e=""></div>
                            <div class="description" data-v-cedf144e="">
                                Chuyến công tác Nhật Bản và Hàn Quốc vừa rồi, tôi đã lựa chọn sử dụng dịch vụ của Esim Travels và cảm thấy rất hài lòng. Giá cả tốt, truy cập Internet nhanh chóng và ổn định. Cài đặt nhanh chóng, chỉ cần đăng ký là đã có thể sử dụng được ngay. Tiện lợi như vậy thì chắc chắn Esim Travels sẽ là sự lựa chọn hàng đầu đồng hành cùng tôi cho các chuyến công tác sắp tới.                                                        </div>
                            <div class="name-country" data-v-cedf144e="">
                                <span class="name" data-v-cedf144e="">Nguyễn Lan Nhi - Nhà báo</span>
                                <span class="buyer" data-v-cedf144e="">
                                                                <img src="./assets/img/check.png" alt="" data-v-cedf144e=""> Người mua đã được xác minh
                                                            </span>
                            </div>
                            <div class="start-icon" data-v-cedf144e="">
                                <div class="star" data-v-cedf144e=""><i class="fa-solid fa-star" data-v-cedf144e=""></i><i class="fa-solid fa-star" data-v-cedf144e=""></i><i class="fa-solid fa-star" data-v-cedf144e=""></i><i class="fa-solid fa-star" data-v-cedf144e=""></i><i class="fa-solid fa-star" data-v-cedf144e=""></i></div>
                                <div class="icon-loc" data-v-cedf144e=""><img src="./assets/img/vietnam.png" alt="" data-v-cedf144e=""></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-6" data-v-cedf144e="">
                        <div class="img-review position-relative ratio-1-1" data-v-cedf144e="">
                            <img class="rtbs" src="./assets/img/fb2.jpg" alt="" data-v-cedf144e="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex nav-customer">
            <button type="button" class="btn-customer-prev"><i class="fa-light fa-chevron-left"></i></button>
            <button type="button" class="btn-customer-next"><i class="fa-light fa-chevron-right"></i></button>
        </div>
        <div class="info-item d-none d-lg-block" data-v-cedf144e="">
            <div class="row" data-v-cedf144e="">
                <div class="col-lg-7" data-v-cedf144e="">
                    <div class="info-star" data-v-cedf144e="">
                        <span class="left" data-v-cedf144e=""><span class="to" data-v-cedf144e=""> 4,9 </span>
                            <span class="form" data-v-cedf144e=""> /5 </span>
                            <span class="star" data-v-cedf144e="">
                                <img src="./assets/img/starrv.png" alt="" data-v-cedf144e="">
                            </span>
                        </span>
                        <span class="description" data-v-cedf144e=""> Dựa trên hơn 15.000 khách hàng đánh giá về ESIMTRAVELS </span>
                    </div>
                </div>
                <div class="col-lg-5" data-v-cedf144e="">
                    <div class="info-right" data-v-cedf144e="">
                        <span class="name" data-v-cedf144e=""> +1 triệu </span>
                        <span data-v-cedf144e=""> Du khách trên toàn thế giới tin tưởng chúng tôi </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-faq">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="ask-questions">
                    <div class="title-section text-center"> Câu hỏi thường gặp (FAQ) </div>
                    <div class="slogan-section text-center"> Tìm thông tin hữu ích để trả lời câu hỏi của bạn </div>
                    <div class="accordion row" id="accordionExample">
                        <div class="accordion row" id="accordionExample">
                            <div class="col-12 col-md-6">
                                <div class="accordion-item">
                                    <div class="accordion-header">
                                        <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse_19" aria-expanded="false" aria-controls="collapse_19">
                                            Nếu không có mạng sau khi kích hoạt eSIM, bạn chỉ cần làm theo hướng dẫn sau                                      </button>
                                    </div>
                                    <div id="collapse_19" class="accordion-collapse collapse" aria-labelledby="article_19" data-bs-parent="#accordion" style="">
                                        <div class="card-body">
                                            <div>
                                                Nếu bạn đã cài đặt gói eSIM có quyền truy cập vào cài đặt thủ công APN, vui lòng làm theo hướng dẫn được cung cấp tại đây                                        </div>
                                            <div class="link-more btn-faq">
                                                <a href="https://esimtravels.vn/hoi-dap/neu-khong-co-mang-sau-khi-kich-hoat-esim-ban-chi-can-lam-theo-huong-dan-sau" class="">Đọc thêm
                                                    <i class="fa-sharp fa-regular fa-arrow-right-long ml-5"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="accordion-item">
                                    <div class="accordion-header">
                                        <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse_18" aria-expanded="false" aria-controls="collapse_18">
                                            Cần mua nhiều gói eSIM cùng một lúc, có được không?                                      </button>
                                    </div>
                                    <div id="collapse_18" class="accordion-collapse collapse" aria-labelledby="article_18" data-bs-parent="#accordion" style="">
                                        <div class="card-body">
                                            <div>
                                                Bạn có thể kích hoạt các gói dữ liệu cùng một lúc. Hệ thống sẽ tự động sử dụng gói dữ liệu của bạn khi tới các điểm đến và lựa chọn gói cước.                                        </div>
                                            <div class="link-more btn-faq">
                                                <a href="https://esimtravels.vn/hoi-dap/can-mua-nhieu-goi-esim-cung-mot-luc-co-duoc-khong" class="">Đọc thêm
                                                    <i class="fa-sharp fa-regular fa-arrow-right-long ml-5"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="accordion-item">
                                    <div class="accordion-header">
                                        <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse_17" aria-expanded="false" aria-controls="collapse_17">
                                            Có cần bỏ SIM gốc khi sử dụng Esim không?                                      </button>
                                    </div>
                                    <div id="collapse_17" class="accordion-collapse collapse" aria-labelledby="article_17" data-bs-parent="#accordion" style="">
                                        <div class="card-body">
                                            <div>
                                                eSIM là SIM kỹ thuật số gắn liền trong máy nên SIM gốc của bạn sẽ hoạt động như bình thường nếu bạn cần, tùy thuộc vào thiết bị của bạn.&nbsp;&nbsp;                                        </div>
                                            <div class="link-more btn-faq">
                                                <a href="https://esimtravels.vn/hoi-dap/co-can-bo-sim-goc-khi-su-dung-esim-khong" class="">Đọc thêm
                                                    <i class="fa-sharp fa-regular fa-arrow-right-long ml-5"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="accordion-item">
                                    <div class="accordion-header">
                                        <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapse_16" aria-expanded="false" aria-controls="collapse_16">
                                            Gói dữ liệu eSIM tại Esimtravels có tốc độ truy cập Internet là bao nhiêu?                                       </button>
                                    </div>
                                    <div id="collapse_16" class="accordion-collapse collapse" aria-labelledby="article_16" data-bs-parent="#accordion" style="">
                                        <div class="card-body">
                                            <div>
                                                Tất cả các gói cước dữ liệu của Esimtravels truy cập tốc độ cao giới hạn theo số GB                                        </div>
                                            <div class="link-more btn-faq">
                                                <a href="https://esimtravels.vn/hoi-dap/goi-du-lieu-esim-tai-esimtravels-co-toc-do-truy-cap-internet-la-bao-nhieu" class="">Đọc thêm
                                                    <i class="fa-sharp fa-regular fa-arrow-right-long ml-5"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-dowload-app">
    <div class="container">
        <div class="content">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="info">
                        <div class="title-section"> Internet tốc độ cao đã sẵn sàng! Kết nối ngay để tận hưởng chuyến đi trọn vẹn cùng eSim Travel nhé! </div>
                        <div class="slogan-section"> Tải xuống ứng dụng Esim Travels để mua, quản lý và sử dụng eSIM mọi lúc, mọi nơi nhé! </div>
                        <ul class="dowload-app">
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-12">
                    <div class="img ratio-1-1 position-relative"><img class="rtbs" src="./assets/img/3.png" alt="img"></div>
                </div>
            </div>
        </div>
    </div>
</div>
