@media (max-width: 1440px) {
  .home main::after{
    top: vw(1040px);
  }
  .box-logo{width: vwt(941px); margin-top: vwt(270px);}
  .intro{
    padding-top: vwt(140px);
    &::before{
      width: vwt(991px); height: vwt(800px);
      left: vwt(-440px); top: vwt(20px);
    }
    &::after{
      width: vwt(548px); height: vwt(741px);
      right: vwt(0px); top: vwt(20px);
    }
  }
  .product{
    .product-list{padding-left: vw(100px);}
  }
  .bg-product .product{margin-top: vw(1000px);}
  footer{
    .content{margin-right: 30px;}
  }
}


@media (max-width: 1024px) {
  header{
    background: #0E1941;
    .navbar-toggle{display: block; position: absolute; right: 15px;}
  }
  .top-header{
    margin: 0 auto 24px; justify-content: center;
  }
  .home{
    .top-header{
      button,.space,select{color: #fff;}
    }
  }
  .navbar{
    width: 100%; padding: 10px 15px; min-height: auto; justify-content: flex-start;
    .logo{width: 91px;}
  }
  .navbar-collapse{
    display: flex; flex-direction: column;
    position: fixed; top: -100%; left: 0;
    width: 100%; height: auto;
    border-radius: 0 0 53px 53px;
    padding: 80px 0 30px;
    background: linear-gradient(#050D27,#2440A7);
    transition: all .4s ease-out;
    z-index: 91; overflow: auto;
    >*{opacity: 0;}
    &.show{
      top: 0;
      >*{opacity: 1;}
    }
  }
  .navbar-toggle{
    display: block;
    width: 18px;
    height: 12px;
    padding: 0;
    background: none; border: none;
    span{
      display: block; width: 18px; height: 2px; border-radius: 2px;
      background: #fff; position: absolute; top: 50%; transform: translateY(-50%); transition: .3s;
    }
    span:before,span:after{
      content: ''; display: block; width: 18px; height: 2px; background: #fff; position: absolute; border-radius: 2px;
    }
    span:before{top: -6px;}
    span:after{bottom: -6px;}
  }
  .navbar-toggle.active{
    z-index: 99;
    span{width: 18px; transform: rotate(45deg);}
    span:after{width: 16px;}
    span:before{top: 0;  transform: rotate(90deg);}
    span:after{opacity: 0;}
  }
  .navbar-nav{
    width: 100%; height: auto;
    display: flex; align-items: center; justify-content: center;
    background: none;
    margin: 0;
    >*+*{margin: 20px 0 0;}
    > li:hover .sub-menu{display: block;}
    > li:nth-child(odd) > a{color: #fff;}
    > li{display: block;}
    > li > a{line-height: inherit; padding: 0; font-size: 20px;}
    .active::after{display: none;}
    .sub-menu{
      height: auto; width: auto; padding: 15px 0 0;
      position: relative; background: none; display: none;
      a{color: #fff;}
      >*+*{border: none;}
    }
  }
  .avatar{margin-top: 20px;}

  .intro{
    h1{font-size: 40px; line-height: 1.2;}
    .content{max-width: 56%;}
  }
  .product{
    &__name{font-size: 20px;}
  }
  footer{
    .content{margin: 0 auto;}
    &::after{display: none;}
  }

  h2.title{margin-bottom: 40px; font-size: 62px;}
}

@media (max-width: 640px) {
  body.home{background: #0c1842 url("#{$img-path}/bg-home-m.jpg") no-repeat 0 0/contain;}
  .home main::after{top: vwm(380px);}
  .box-logo{margin-top: vwm(200px);}
  .intro{
    padding-bottom: vwm(400px);
    &::before{
      width: vwm(680px); height: vwm(549px);
      left: vwm(-240px); top: inherit; bottom: vwm(-80px);
    }
    &::after{
      width: vwm(400px); height: vwm(541px);
      right: vwm(0px); top: inherit; bottom: vwm(-50px);
    }
    h1{font-size: 36px;}
    .content{max-width: 100%; padding: 0 15px;}
  }
  .community{
    .bottom{grid-template-columns: repeat(1,1fr);}
    .mission h4{font-size: 30px;}
    .organinzation h4{font-size: 40px;}
  }
  footer{
    .content{padding: 30px 15px;}
    .grid{grid-template-columns: repeat(1,1fr);}
  }

  h2.title{font-size: 42px;}
}

